@{
    ViewData["Title"] = "Reports";
}

<h2>Reports</h2>

<ul>
    <li><a asp-action="StockReport">Stock Report</a></li>
    <li><a asp-action="SalesReport">Sales Report</a></li>
    <li><a asp-action="ClientReport">Client Report</a></li>
    <li><a asp-action="RevenueReport">Revenue Report</a></li>
</ul>
