@model MedicalStore.Models.Client
@{
    ViewData["Title"] = "Add Client";
}
<h2>Add Client</h2>
<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ClientName"></label>
        <input asp-for="ClientName" class="form-control" />
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <input asp-for="Gender" class="form-control" />
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>
